/* Import Google Fonts */

@import url("https://fonts.googleapis.com/css2?family=Agbalumo&family=Metal+Mania&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Agbalumo", system-ui;
}

:root {
  /* color */
  --white-colour: white;
  --dark-colour: black;
  --primery-colour: brown;
  --secondery-colour: yellow;
  --light-pink: #faf4f5;
  --medium-gray-colour: #ccc;

  /* Font Size */
  --font-size-s: 0.9rem;
  --font-size-n: 1rem;
  --font-size-m: 1.12rem;
  --font-size-l: 1.5rem;
  --font-size-xl: 2rem;
  --font-size-xxl: 2.3rem;

  /* Font Weight */
  --font-wight-normal: 400;
  --font-wight-medium: 500;
  --font-wight-semibold: 600;
  --font-wight-bold: 700;

  /* Bold Redius */
  --bold-redius-s: 8px;
  --bold-redius-m: 30px;
  --bold-redius-circle: 50%;

  /* Site Max Width */
  --site-max-width: 1300px;
}

/* Styling from the whole side */

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

img {
  width: 100%;
}

.section-content {
  margin: 0 auto;
  padding: 0 20px;
  max-width: var(--site-max-width);
}

/* Navbar Styling */

header {
  position: fixed;
  width: 100%;
  z-index: 5;
  background-color: var(--primery-colour);
}

.navbar {
  display: flex;
  align-items: center;
  padding: 2px;
  justify-content: space-between;
}

.nav-manu {
  display: flex;
  gap: 10px;
}

.navbar {
  color: var(--white-colour);
}

.nav-manu {
  color: var(--white-colour);
}

.nav-link {
  padding: 10px 18px;
  color: var(--white-colour);
  border-radius: var(--bold-redius-m);
  font-size: var(--font-size-l);
  transition: 0.3s ease;
}

.nav-link:hover {
  color: var(--primery-colour);
  background: var(--secondery-colour);
}

.nav-logo {
  color: var(--white-colour);
  font-size: var(--font-size-xl);
  font-weight: var(--font-wight-semibold);
}

.nav-text {
  color: var(--white-colour);
}

.hero-section {
  /* min-height: 100vh; */
  background: var(--primery-colour);
}

.section-content {
  display: flex;
  align-items: center;
  color: var(--white-colour);
  justify-content: space-between;
}

.hero-details {
  font-size: var(--font-size-xxl);
  color: var(--secondery-colour);
  font-family: "Times New Roman", Times, serif;
}

.subtitle {
  margin-top: 8px;
  max-width: 70%;
  font-size: var(--font-size-xl);
  font-weight: var(--font-wight-semibold);
}

.description {
  max-width: 70%;
  margin: 24px 0 40px;
  font-size: var(--font-size-n);
}

.buttons {
  padding: 10px 27px;
  color: var(--primery-colour);
  border-radius: var(--bold-redius-m);
  /* background: var(--secondery-colour); */
  font-weight: var(--font-wight-medium);
  display: flex;
  gap: 23px;
  transition: 0.3s ease;
}
.order-now:hover{
background-color: yellow;
}
.buttons:hover,
.contact-now {
  color: var(--white-colour);
  border-color: var(--white-colour);
  background: transparent;
}

.contact-now:hover {
  color: var(--primery-colour);
  border-color: var(--secondery-colour);
  background: var(--secondery-colour);
  /* border-radius: 10px; */
  border-radius: var(--bold-redius-m);
}
.hero-image-wrapper {
  max-width: 500px;
  margin-right: 30px;
}

@media and (max-width: 900px;) {
  :root {
    --font-size-m: 1rem;
    --font-size-l: 3rem;
    --font-size-xl: 1.5rem;
    --font-size-xxl: 1.8rem;
  }
  .nav-link {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 300px;
    height: 100%;
    background: var(--white-colour);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
  /* }
  .nav-manu {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 300px;
    height: 100%;
    background: var(--white-colour);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
  }
  .nav-link {
    color: var(--dark-colour);
    display: block;
    margin-top: 17px;
    font-size: var(--font-size-l);
  } */
}

